<ActionBar title="" class="action-bar">
</ActionBar>

<GridLayout>
    <StackLayout>
        <CheckBox #CB1 text="CheckBox Label" checked="false"></CheckBox>
        <Button (tap)="toggleCheck()" text="Toggle it!"></Button>
        <Button (tap)="getCheckProp()" text="Check Property"></Button>
    </StackLayout>
    <GridLayout #background scaleX="1.4" scaleY="1.4"></GridLayout>
    <p>rewrjwekrlker</p>
    <StackLayout>
        <CheckBox #CB1 text="CheckBox Label" checked="false"></CheckBox>
        <Button (tap)="toggleCheck()" text="Toggle it!"></Button>
        <Button (tap)="getCheckProp()" text="Check Property"></Button>
    </StackLayout>

    <!-- The fruit logo that appears within the container -->
    <AbsoluteLayout #logoContainer class="logo-container">
        <p>test11111</p>
    </AbsoluteLayout>

</GridLayout>